<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>티켓 이메일 전송</title>
</head>
<body>
 
		<div style='width:720px;text-align:center;margin-bottom:20px;font-size:50px;font-weight:bold;color:#274b3a;'>FiveDolls</div>
		<div>
			<span style="font-size:17px;">안녕하세요. <span style="color:#20B2AA;font-weight:bold;font-size:20px;">${receiveCustId}</span> 님</span><br>
			<span style="font-size:17px;">FiveDolls를 이용해주셔서 감사드립니다.</span><br>
			<br>
			<span style="font-size:17px;">구매하신 티켓 내역입니다.</span>
			<br>
			<div style='width:700px;'>
				<table style="border:1px double gray;">
					${content}
				</table>
			</div> 
		</div>
		 
</body>
</html>